/* @import url(./reset.css); */

body {
  background-color: antiquewhite;
  min-width: 600px;
  max-width: 1200px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  line-height: 1.5;
}

div {
  width: 300px;
  height: 200px;
  margin: 50px;
  border: 5px solid;
  background-color: blue;
  font-size: 12px;
}

table {
  border: 2px Solid #674563;
  border-collapse: collapse;
  border-spacing: 4px;
}

td,
th {
  text-align: center;
  border-width: 2px;
  border-color: blueviolet;
  border-style: solid #345623;
  border-spacing: 4px;
}

.td_total {
  text-align: right;
}
